body {
  background-color: rgb(255, 0, 174);
  color: rgb(255, 255, 255);
  margin: 0;
  font-family: rubik;
}

.container {
  padding: 40px;
  margin: 0 auto;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 54px;
}

h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 34px;
}

#pokedex {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 20px;
  padding-inline-start: 0;
}

.card {
  list-style: none;
  padding: 40px;
  background-color: #f4f4f4;
  color: #222;
text-align: center;
}

.card:hover {
  animation: bounceIn 1.0s linear;
  
}

.card-title {
  text-transform: capitalize;
  margin-bottom: 0px;
  font-size: 32px;
  font-weight: normal;
}
.card-subtitle {
  margin-top: 5px;
  color: #666;
  font-weight: lighter;
}

.card-image {
  height: 180px;
}

@keyframes bounceIn {
  20% {
      transform: scale(1.1);
  }
  40% {
      transform: scale(1);
  }

  80% {
      transform: scale(1.1);
  }
  100% {
      transform: scale(1);
  }
}

.buttons {
  margin: 35px;
  text-align:center;
}

#form {
  max-width: 60%;
  background-color: whitesmoke;
  margin: 8px;
  font-size: 15px;
  border: 2px solid rgb(0, 252, 84);
  border-radius: 8px;
}

#form:hover {
  transition: 0.3s;
  transform: scale(1.05);
}

#buttonsearch {
  background-color: rgb(0, 252, 84);
  color: rgb(15, 1, 1);
  border-radius: 8px;
}

#buttonsearch:hover {
  transition: 0.3s;
  transform: scale(1.05);
}

